<h1>Stir-Fry Roulette</h1>

<script type="text/javascript" src="packs/application.js"></script>
<div id="react-root"></div>

<div id="payload" style="display: none">
  {
    "protein": <%= @proteins.map { |p| p.name }.to_json %>
  , "veggies": <%= @veggies.map { |p| p.name }.to_json %>
  , "seasonings": <%= @seasonings.map { |p| p.name }.to_json %>
  }
</div>

<hr />

<h2>I'm a Rails Template!</h2>
<div id="rails" class="flex">
  <div class="flex-auto">
    <h3>Proteins</h3>
    <ul>
      <% @proteins.each do |protein| %>
        <li>
          <%= protein.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="flex-auto">
    <h3>Veggies</h3>
    <ul>
      <% @veggies.each do |veg| %>
        <li>
          <%= veg.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="flex-auto">
    <h3>Seasonings</h3>
    <ul>
      <% @seasonings.each do |spice| %>
        <li>
          <%= spice.name %>
        </li>
      <% end %>
    </ul>
</div>
